{% extends "baseplace.html" %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card maxit-card p-4 border-0 shadow-lg">
                <h4 class="fw-bold text-center mb-4" style="color: #00235B;">Contactez-nous</h4>
                <form>
                    <div class="mb-3">
                        <label class="form-label small fw-bold text-muted">NOM COMPLET</label>
                        <input type="text" class="form-control bg-light border-0 py-2" placeholder="Ex: Jean Koné">
                    </div>
                    <div class="mb-3">
                        <label class="form-label small fw-bold text-muted">NUMÉRO TÉLÉPHONE</label>
                        <input type="tel" class="form-control bg-light border-0 py-2" placeholder="+226 ...">
                    </div>
                    <div class="mb-3">
                        <label class="form-label small fw-bold text-muted">OBJET</label>
                        <input type="text" class="form-control bg-light border-0 py-2" placeholder="Sujet de votre message">
                    </div>
                    <div class="mb-4">
                        <label class="form-label small fw-bold text-muted">VOTRE MESSAGE</label>
                        <textarea class="form-control bg-light border-0" rows="4" placeholder="Comment pouvons-nous vous aider ?"></textarea>
                    </div>
                    <button type="submit" class="btn btn-jago w-100 py-3 fw-bold">Envoyer le message</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock  %}