<tr class="align-middle">
    <td>
        <small class="fw-bold">{{ product.name }}</small>
        <input type="hidden" name="product_ids[]" value="{{ product.id }}">
        <input type="hidden" name="prices[]" value="{{ product.selling_price|stringformat:'.2f' }}">
    </td>
    <td>
        <input type="number" name="quantities[]" value="1" min="1" 
               class="form-control form-control-sm item-qty" style="width: 60px;">
    </td>
    <td class="text-end fw-bold">
        {{ product.selling_price|floatformat:0 }} F
    </td>
    </tr>