{% for movement in movements %}
<tr>
    <td class="ps-4">{{ movement.date|date:"d/m/Y H:i" }}</td>
    <td><strong>{{ movement.product.name }}</strong></td>
    <td>
        {% if movement.movement_type == 'entree' %}
             <span class="badge bg-success-subtle text-success rounded-pill px-3">
                                <i class="fas fa-arrow-trend-top me-1"></i> Entrée
                            </span>
        {% else %}
             <span class="badge bg-danger-subtle text-danger rounded-pill px-3">
                                <i class="fas fa-arrow-trend-down me-1"></i> Sortie
                            </span>
        {% endif %}
    </td>
    <td class="text-center">{{ movement.quantity }}</td>
    <td>{{ movement.user.username|default:"Système" }}</td>
    <td>{{ movement.reason }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="6" class="text-center py-4 text-muted">Aucun mouvement trouvé.</td>
</tr>
{% endfor %}